{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Semantic UI CSS -->
<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- Semantic UI JS -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet" />

<link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.2.0/dist/select2-bootstrap-5-theme.min.css"
      rel="stylesheet" />

<h2 class="mb-4">
    {% if mode == 'add' %}
        Add Attendance
    {% else %}
        Edit Attendance
    {% endif %}
</h2>

<form method="POST" class="row g-3 w-75">

    {% csrf_token %}

    <!-- MEMBER -->
    <div class="col-md-6">

    <label class="form-label">
        Member
    </label>

    <div class="ui fluid search selection dropdown">

        <input type="hidden" name="member_id">

        <i class="dropdown icon"></i>

        <div class="default text">
            Select Member
        </div>

        <div class="menu">

            {% for member in members %}

                <div class="item"
                     data-value="{{ member.id }}">

                    {{ member.full_name }}

                </div>

            {% endfor %}

        </div>

    </div>

</div>
    <!-- DATE -->
    <div class="col-md-6">

        <label class="form-label">
            Date
        </label>

        <input
            type="date"
            class="form-control"
            name="date"
            value="{{ attendance.date|date:'Y-m-d' }}"
        >

    </div>

    <!-- TIME -->
    <div class="col-md-6">

        <label class="form-label">
            Time In
        </label>

        <input
            type="time"
            class="form-control"
            name="time_in"
            value="{{ attendance.time_in|time:'H:i' }}"
        >

    </div>

    <!-- BUTTONS -->
    <div class="col-md-12">

        <button type="submit" class="btn btn-primary">

            {% if mode == 'add' %}
                Add Attendance
            {% else %}
                Update Attendance
            {% endif %}

        </button>

        <a href="{% url 'admin_attendance_list' %}"
           class="btn btn-secondary">

            Cancel

        </a>

    </div>

</form>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- SELECT2 INIT -->
<script>

$(document).ready(function () {

    $('.ui.dropdown').dropdown();

});

</script>
{% endblock %}