{% extends 'base.html' %} {% block content %}

<h2 class="mb-3">
  {% if mode == 'add' %} Add Member {% else %} Edit Member {% endif %}
</h2>
<form method="post" class="row g-3 w-75">
  {% csrf_token %}

  <div class="col-md-6">                                                                                       
    <label class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      name="username"                                                                                          
      value="{{ member.user.username|default:'' }}"
      placeholder="Enter username"                                                                             
      required    
    />                                                                                                         
  </div>
  <div class="col-md-6">                                                                                       
    <label class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      name="password"
      placeholder="Enter password"                                                                             
      {% if mode == 'add' %}required{% endif %}
    />                                                                                                         
  </div>          
  <br>
  <div class="col-md-6">
    <label class="form-label">Member Name</label>
    <input
      type="text"
      class="form-control"
      name="full_name"
      value="{{ member.full_name|default:'' }}"
      placeholder="Enter Member Name"
    />
  </div>
  <div class="col-md-3">
    <label class="form-label">Mobile Number</label>
    <input
      type="tel"
      class="form-control"
      name="mobile"
      value="{{ member.mobile|default:'' }}"
      placeholder="1234567890"
      maxlength="10"
      pattern="[0-9]{10}" 
      inputmode="numeric"
      oninput="this.value = this.value.replace(/\D/g, '').slice(0, 10)"
    />
    <!-- pattern="[0-9]{10}"  This pattern ensures that only 10 digits are allowed -->
      <!--  inputmode="numeric" This will show numeric keyboard on mobile devices -->
     <!--  oninput="this.value = this.value.replace(/\D/g, '').slice(0, 10)"   This JavaScript will remove any non-digit characters and limit the input to 10 digits -->
       
  </div>
  <div class="col-md-3">
    <label class="form-label">Age</label>
    <input
      type="text"
      class="form-control"
      name="age"
      value="{{ member.age|default:'' }}"
      placeholder="eg: 18  19  20"
    />
  </div>
  <div class="col-md-3">
    <label class="form-label">Gender</label>
    <select name="gender" class="form-select">
      <option value="">--Select Gender--</option>
      <option value="Male" {% if member.gender == 'Male' %}selected {% endif %}>Male</option>
      <option value="Female" {% if member.gender == 'Female' %}selected {% endif %}>Female</option>
      <option value="Other" {% if member.gender == 'Other' %}selected {% endif %}>Other</option>
    </select>
  </div>
  <div class="col-md-3">
    <label class="form-label">Join Date</label>
    <input
      type="date"
      class="form-control"
      name="join_date"
      value="{{ member.join_date|date:'Y-m-d' }}"
    />
  </div>
  <div class="col-md-3">
    <label class="form-label">Plan</label>
    <select name="plan_id" class="form-select">
        <option value="">--select plan--</option>
        {% for plan in plans %}
            <option value="{{ plan.id }}" {% if member.plan == plan %}selected{% endif %}>{{ plan.name }}</option>
        {% endfor %}
    </select>
  </div>
  <div class="col-md-3">
    <label class="form-label">Trainer</label>
    <select name="trainer_id" class="form-select">
        <option value="">--select trainer--</option>
        {% for trainer in trainers %}
            <option value="{{ trainer.id }}" {% if member.trainer == trainer %}selected{% endif %}>{{ trainer.name }}</option>
        {% endfor %}
    </select>
  </div>

  <div class="col-md-12">
    <label for="address" class="form-label">Address</label>
    <textarea name="address" class="form-control" placeholder="Enter Address" rows="3">{{ member.address|default:'' }}</textarea>
  </div>
  
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary">
      {% if mode == 'add' %}Add Member {% else %}Update Member {% endif %}
    </button>
    <a href="{% url 'admin_trainers_list' %}" class="btn btn-secondary"
      >Cancel</a
    >
  </div>
</form>

{% endblock %}
