{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<link rel="stylesheet" href="{% static 'gymapp/css/admin_member_list.css' %}" />

<div class="members-container">
  <div class="members-card">
    <div class="members-header">
      <div>
        <h2>
          <i class="fas fa-users"></i>Payments
        </h2>
      </div>

      <div class="header-actions">
        <a href="{% url 'admin_payment_add' %}" class="btn-add">
          <i class="fas fa-plus"></i>
          Add New Payment
        </a>
      </div>
    </div>

    <!-- SEARCH FORM -->
    <form method="GET" class="row g-3 mb-3 mt-2">
      <div class="row g-2 align-items-end px-2">
        <!-- Member Name Input -->
        <div class="col-12 col-md-5 col-lg-4">
            <label class="form-label d-md-none text-muted small">Search Member</label>
            <input
                type="text"
                name="search-member"
                class="form-control"
                placeholder="Search by member name"
                value="{{ search_member|default:'' }}"
            />
        </div>

        <!-- search by status -->
        <div class="col-12 col-md-4 col-lg-3">
            <label class="form-label d-md-none text-muted small">Search Status</label>
            <select name="status" id="" class="form-control">
                <option value="">All Status</option>
                <option value="PAID" {% if status == 'PAID' %}selected{% endif %}>PAID</option>
                <option value="PENDING" {% if status == 'PENDING' %}selected{% endif %}>PENDING</option>
            </select>
        </div>

        <!-- Search Button -->
        <div class="col-12 col-md-3 col-lg-2">
            <button type="submit" class="btn btn-primary w-100">
                <i class="fas fa-search me-1"></i> Search
            </button>
        </div>
      </div>
    </form>

    <!-- TABLE -->
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Member</th>
            <th>Plan</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Mode</th>
            <th>Status</th>
            <th>Notes</th>
          </tr>
        </thead>

        <tbody>
          {% if payments %} {% for payment in payments %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ payment.member.full_name }}</td>
            <td>{{ payment.plan.name }}</td>
            <td>${{ payment.amount|floatformat:2 }}</td>
            <td>{{ payment.payment_date }}</td>
            <td>{{ payment.payment_mode }}</td>
            <td>{{ payment.payment_status }}</td>
            <td>{{ payment.notes }}</td>
          </tr>
          {% endfor %} 
          {% else %}
          <tr>
            <td colspan="8" class="text-center">No Payments Found</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>

window.addEventListener('pageshow', function (event) {

    if (
        performance.navigation.type === 1
    ) {

        window.location.href =
            window.location.pathname;

    }

});

</script>

{% endblock %}

